.heroWrapper {
  height: 100%;
  max-width: 1536px;
  margin: 0 auto;
}
.heroRoot {
  position: relative;
  margin-bottom: 2em;
}
.bgWrapper {
  height: 365px;
  width: 50%;
  max-width: 600px;
}
.heroRoot::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: black;
  height: 3em;
  bottom: -15px;
  z-index: -1;
}
.textWrapper {
  max-width: 600px;
}

@media (orientation: landscape) {
  .textWrapper {
    padding-top: 20px;
  }
}
@media (orientation: landscape) and (min-width: 735px) {
  .textWrapper {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .heroRoot::after {
    height: 4em;
  }
  .bgWrapper {
    height: 540px;
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .textWrapper {
    padding-top: 40px;
  }
  .bgWrapper {
    height: 440px;
  }
}
@media (min-width: 1024px) {
  .bgWrapper {
    height: 600px;
  }
  .heroRoot::after {
    height: 5em;
  }
  .heroRoot {
    margin-bottom: 12rem;
  }
}
@media (min-width: 1280px) {
  .bgWrapper {
    height: 80vh;
  }
  .textWrapper {
    padding-top: 0;
    align-self: center;
  }
  .heroWrapper {
    justify-content: space-evenly;
  }
}
