.howItWorksRoot {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url(../../public/images/elf.png);
  background-repeat: no-repeat;
  height: 100%;
  background-size: 40% 100%;
  width: 100%;
  display: flex;
  @apply mb-16;
  background-position: 122%;
  justify-content: center;
  position: relative;
}

.howItWorksWrapper {
  width: 70%;
  position: relative;
  align-items: center;
}

.headingLine {
  position: relative;
  display: inline-block;
}
.howItWorksRoot::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;

  height: 10px;
  top: 14px;
  z-index: -1;
  @apply bg-santa-yellow;
}
.headingLine::before {
  content: "";
  position: absolute;
  left: 0;
  width: 103%;

  height: 10px;
  top: 14px;
  z-index: -1;
  @apply bg-santa-yellow;
}

@media (min-width: 640px) {
  .howItWorksRoot {
    justify-content: center;
  }
  .headingLine::before,
  .howItWorksRoot::before {
    height: 15px;
  }
}
@media (min-width: 768px) {
  .howItWorksRoot {
    @apply mb-64;
  }
  .headingLine::before,
  .howItWorksRoot::before {
    height: 22px;
    top: 19px;
  }

  .howItWorksRoot {
    background-position: 122%;
    justify-content: center;
  }
  .howItWorksWrapper {
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .headingLine::before,
  .howItWorksRoot::before {
    height: 30px;
    top: 30px;
  }
}

@media (min-width: 1280px) {
  .howItWorksRoot {
    justify-content: center;
  }
  .howItWorksWrapper {
    width: 100%;
    align-items: center;
  }
}

/* @media (min-width: 1536px) {
  .howItWorksRoot {
    background-position: 122%;
    justify-content: center;
  }
  .howItWorksWrapper {
    align-items: center;
  }
} */
