.borderOneInput {
  display: none;
}

.borderOneLabel {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.borderOneLabel::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  top: 5px;
  left: 8px;
  line-height: 24px;
  width: 30px;
  height: 30px;
}

.borderOneLabel img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.borderOneInput:checked + label::before {
  content: "✓";
  transform: scale(1);
  @apply bg-santa-yellow;
}
.borderOneInput:checked:checked + label img {
  transform: scale(0.9);
  z-index: -1;
}

.borderCarousel::-webkit-scrollbar {
  width: 25px;
  height: 25px;
}
.borderCarousel::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff8a00),
    to(#e52e71)
  );
}
.container {
  scroll-snap-type: x proximity;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 10px;
  overflow: scroll;
  position: relative;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}
.container::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-santa-yellow;
}

.element {
  width: 280px;
  height: 280px;
  scroll-margin: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingWrapper {
  @apply relative;
}
.headingWrapper::before {
  content: "";
  height: 10px;
  top: 14px;
  z-index: -1;
  @apply absolute left-0 w-1/2 bg-santa-yellow;
}
.headingLine {
  position: relative;
  display: inline-block;
}

.headingLine::before {
  content: "";
  left: 0;
  width: 102%;
  height: 10px;
  top: 14px;
  z-index: -1;
  @apply absolute bg-santa-yellow;
}

@media (min-width: 640px) {
  .headingLine::before,
  .headingWrapper::before {
    height: 15px;
  }
}

@media (min-width: 768px) {
  .headingLine::before,
  .headingWrapper::before {
    height: 22px;
    top: 19px;
  }
  .createWrapper {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(/images/yoda.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: -250px 33px;
    background-size: 60% 45%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .headingLine::before,
  .headingWrapper::before {
    height: 25px;
    top: 15px;
  }

  .container {
    width: 26rem;
    height: auto;
  }
  .element {
    width: 25rem;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .createWrapper {
    background-position: -330px 33px;
    background-size: 60% 55%;
  }
}

@media (min-width: 1580px) {
  .createWrapper {
    background-size: 60% 60%;
    background-position: -430px 33px;
  }
}
