html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}
.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  width: 100%;
}
footer {
  flex-shrink: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Black Han Sans", sans-serif;
}
.bottom-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: black;
  height: 2em;
  bottom: 0px;
  z-index: -1;
}
.covidGuy {
  width: 85px;
  height: 85px;
  @apply -mr-1;
}
@media (min-width: 768px) {
  .bottom-line::after {
    height: 7em;
    bottom: 10px;
  }
}
.heading::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 56px;
  width: 250%;
  background: #ffb90d;
  height: 26px;
  z-index: -1;
}

.heading2::after {
  content: "";
  position: absolute;
  top: 30px;
  right: -10px;
  width: 250%;
  background: #ffb90d;
  height: 26px;
  z-index: -1;
}

.footer__text {
  position: relative;
}
.footer__text::after {
  content: "";
  position: absolute;
  @apply bg-santa-yellow;
  height: 30px;
  width: 100%;
  top: calc(50% + 8px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media (min-width: 768px) {
  .footer__text {
    height: 150px;
  }
  .covidGuy {
    width: 150px;
    height: 150px;
    @apply right-0 -mb-3 -mr-2 -bottom-2;
  }
  .footer__text::after {
    height: 50px;
    top: calc(50% + 19px);
  }
}

.btn {
  @apply flex items-center justify-center max-w-sm px-0 py-2 leading-none;
  @apply text-center text-white border-4 border-black bg-santa-red;
  @apply hover:shadow-xl hover:-translate-y-1 hover:scale-105 md:text-3xl;
  @apply transition duration-500 ease-in-out transform rounded-sm shadow-md font-heading;
}
.btn2 {
  @apply flex items-center justify-center py-2 text-center text-white;
  @apply transition duration-500 ease-in-out transform border-4 border-black;
  @apply rounded-sm shadow-md bg-santa-red font-heading hover:shadow-xl;
  @apply hover:-translate-y-1 hover:scale-105;
  @apply md:self-start md:px-7 md:py-3 md:text-2xl;
  @apply lg:py-4 lg:px-11 lg:text-3xl;
}

.nav__Link {
  @apply leading-none transition duration-500 ease-in-out hover:text-black;
}
