html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}
.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  width: 100%;
}
footer {
  flex-shrink: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Black Han Sans", sans-serif;
}
/* box-sizing: border-box; */
.bottom-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: black;
  height: 2em;
  bottom: 0px;
  z-index: -1;
}
@media (min-width: 768px) {
  .bottom-line::after {
    height: 7em;
    bottom: 10px;
  }
}
.heading::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 56px;
  width: 250%;
  background: #ffb90d;
  height: 26px;
  z-index: -1;
}

.heading2::after {
  content: "";
  position: absolute;
  top: 30px;
  right: -10px;
  width: 250%;
  background: #ffb90d;
  height: 26px;
  z-index: -1;
}

.covidGuy {
  width: 50px;
}

@media (min-width: 768px) {
  .covidGuy {
    width: 300px;
  }
}

.btn {
  @apply flex items-center justify-center max-w-sm px-0 py-2 leading-none text-center text-white transition duration-500 ease-in-out transform border-4 border-black rounded-sm shadow-md md:text-3xl font-heading bg-santa-red hover:shadow-xl hover:-translate-y-1 hover:scale-105;
}
.btn2 {
  @apply flex items-center justify-center py-2 text-center text-white;
  @apply transition duration-500 ease-in-out transform border-4 border-black;
  @apply rounded-sm shadow-md bg-santa-red font-heading hover:shadow-xl;
  @apply hover:-translate-y-1 hover:scale-105;
  @apply md:self-start md:px-7 md:py-3 md:text-2xl;
  @apply lg:py-4 lg:px-11 lg:text-3xl;
}
