html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Black Han Sans", sans-serif;
}
/* box-sizing: border-box; */
.bottom-line::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background: black;
  height: 7em;
  z-index: -1;
}

.heading::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 100px;
  width: 250%;
  background: #ffb90d;
  height: 26px;
  z-index: -1;
}
